rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Usuários só podem ler/escrever em seu próprio documento
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
    }

    // Acesso baseado no 'secretariaId' do usuário
    match /{collection}/{docId} {
      allow read, write, delete: if request.auth.token.secretariaId == resource.data.secretariaId;
      allow create: if request.auth.token.secretariaId == request.resource.data.secretariaId;
    }
  }
}